name: eligibility-server
version: "3.8"

services:
  server:
    build: .
    env_file: .env
    image: eligibility_server:latest
    ports:
      - "8000"
    volumes:
      - .:/home/calitp/app/

  dev:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    entrypoint: sleep infinity
    env_file: .env
    image: eligibility_server:dev
    ports:
      - "8000"
    volumes:
      - .:/home/calitp/app/

  docs:
    image: eligibility_server:dev
    entrypoint: mkdocs
    command: serve --dev-addr "0.0.0.0:8001"
    ports:
      - "8001"
    volumes:
      - .:/home/calitp/app
